@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins&display=swap');// Variables
// Font Variables

$Poppins: 'Poppins', sans-serif;
// Font
$Courier: 'Courier Prime', monospace;
$medium-font: 25px;
$large-font: 35px;
$small-font: 20px;

// Color Pallete
$orange: #FF9F1C;
$black: #272D2D;
$cyan: #2EC4B6;
$red: #E71D36;
$white: #FDFFFC;

body{
    background-color: yellow;
    margin: 0;
    padding: 0;
    font-family: $Poppins;
}

.header-wrapper{
    display: flex;
    background-color: $cyan;
    color: $black;
    padding: 20px 0 20px 0;
    .image-container{
        margin: 0 0 0 15vw ;
    }
    .header-name{
        padding: 0 0 0 60px;
        font-size: $large-font;
        text-align: center;

        h1{
            margin: 10% 8% 0 0;
            
        }

        p{
            margin: 10px 0 20px 0;
            font-family: $Courier;
            font-size: $medium-font;
        }
        .socials-container{
            background: none;
            ul{
                margin: 0 17% 0 0;
                img{
                    height: 40px;
                }
                
            }
        }
    
    }
}

.about-wrapper{
    background-color: $black;
    color: $white;
    height: 50vh;
    .about-container{
        margin: 0 0 0 8%;
        padding: 50px 0 0 0;
        text-align: center;
        h2{
            margin:0;
            padding: 20px 0 0 0;
            color: $orange;
            font-size: $large-font;
        }
        p{
            margin: 10px 0 0 20%;
            width: 60%;
            font-size: $small-font;
        }
    }
}

.education-container{
    h3{
        margin: 0;
    }
    background: orange;
}

.socials-container{
    // background-color: cyan;
}




.skills-container{
    // background: lime;
}

.projects-container{
    // background: yellow;
}

.footer-container{
    // background: grey;
}



